* { 
  margin: 0.0cm;
  padding:0px;
}

html {
  scroll-behavior: smooth;
}
/* Uncomment this to make navbar sticky
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 999; /* This makes the bar visible at all time*/
/*
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 30px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}
*/

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.whatsapp {
  background: rgb(67, 152, 59);
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.telegram {
  background: rgb(16, 81, 167);
  color: white;
}

.messenger {
  background: rgb(10, 147, 211);
  color: white;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}



